# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [149]:
import pandas as pd

# Import dataset from an online source
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
customer_data = pd.read_csv(url)

In [150]:
customer_data.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [151]:
customer_data.columns = customer_data.columns.str.lower()
customer_data.columns = customer_data.columns.str.replace(" ","_")
customer_data.columns = customer_data.columns.str.replace(r'\bst\b', 'state', regex=True)

customer_data.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

You can also use this method by manually typing the list of new columns names

customer_data.columns = ['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount']

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [152]:
# gender
customer_data["gender"].replace("Male", "M", inplace=True)
customer_data["gender"].replace(["female","Femal"], "F", inplace=True)

# state
customer_data["state"].replace("WA", "Washington", inplace=True)
customer_data["state"].replace("AZ", "Arizona", inplace=True)

# education
customer_data["education"].replace("Bachelors", "Bachelor", inplace=True)

# customer_lifetime_value
customer_data["customer_lifetime_value"].str.replace("%","", regex=False)

# vehicle class
customer_data["vehicle_class"].replace(["Sports Car","Luxury SUV","Luxury Car"],"Luxury", inplace=True)

In [153]:
customer_data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [154]:
# categorical = ["state","gender","education","number_of_open_complaints","policy_type", "vehicle_class"]

categorical = ["number_of_open_complaints"]
for column in categorical:
    print(column)
    print(customer_data[column].value_counts(normalize=True).mul(100).round(1).astype(str) + '%')
    print("\n")

number_of_open_complaints
1/0/00    77.5%
1/1/00    12.9%
1/2/00     4.7%
1/3/00     3.2%
1/4/00     1.2%
1/5/00     0.6%
Name: number_of_open_complaints, dtype: object

In [155]:
# categorical = ["state","gender","education","number_of_open_complaints","policy_type", "vehicle_class"]

categorical = ["gender"]
for column in categorical:
    print(column)
    print(customer_data[column].value_counts(normalize=True).mul(100).round(1).astype(str) + '%')
    print("\n")

gender
F    52.6%
M    47.4%
Name: gender, dtype: object

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [156]:
# customer lifetime value
customer_data["customer_lifetime_value"]=customer_data["customer_lifetime_value"].str.replace('%', '', regex=False).astype(float)

In [157]:
# number of open complaints
customer_data["number_of_open_complaints"] = customer_data["number_of_open_complaints"].str.split("/").str[1].astype(float)

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [158]:
# Identify any columns with null or missing values. (Every variables has missing values)
customer_data.isna().any()

customer                     True
state                        True
gender                       True
education                    True
customer_lifetime_value      True
income                       True
monthly_premium_auto         True
number_of_open_complaints    True
policy_type                  True
vehicle_class                True
total_claim_amount           True
dtype: bool

In [159]:
customer_data.isna().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [160]:
customer_data.isna().sum(axis=1)

0        2
1        0
2        0
3        0
4        0
        ..
4003    11
4004    11
4005    11
4006    11
4007    11
Length: 4008, dtype: int64

In [161]:
customer_data.shape

(4008, 11)

In [162]:
missing = customer_data.isna().sum(axis=1)

In [163]:
missing.value_counts()

11    2937
0      952
1      118
2        1
dtype: int64

In [164]:
# remove rows which contains missing values in all columns
customer_data.dropna(how='all', inplace=True)

In [165]:
missing = customer_data.isna().sum(axis=1)
missing.value_counts()

0    952
1    118
2      1
dtype: int64

In [166]:
# Identify any columns with null or missing values. Now it's only gender and customer_lifetime_value which had missing values
customer_data.isna().sum()

customer                       0
state                          0
gender                       117
education                      0
customer_lifetime_value        3
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
vehicle_class                  0
total_claim_amount             0
dtype: int64

In [167]:
# Fill the null values in customer_lifetime_value with mean
customer_data.describe()

,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,1.068000e+03,1071.000000,1071.000000,1071.000000,1071.000000
mean,7.936903e+05,39295.701214,193.234360,0.394024,404.986909
std,6.434784e+05,30469.427060,1601.190369,0.883769,293.027260
min,2.004351e+05,0.000000,61.000000,0.000000,0.382107
25%,4.034080e+05,14072.000000,68.000000,0.000000,202.157702
50%,5.881742e+05,36234.000000,83.000000,0.000000,354.729129
75%,8.962872e+05,64631.000000,109.500000,0.000000,532.800000
max,5.816655e+06,99960.000000,35354.000000,5.000000,2893.239678

In [141]:
customer_data.customer_lifetime_value.fillna(customer_data.customer_lifetime_value.mean(), inplace=True)

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [145]:
customer_data.duplicated().sum()

0

In [147]:
customer_data.duplicated(subset=["customer"]).sum()

0

In [169]:
customer_data.to_csv('customer_data_cleaned.csv', index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [173]:
# %load cleaning.py
#!/usr/bin/env python

# In[ ]:


def clean_columns(df):
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(" ","_")
    df.columns = df.columns.str.replace(r'\bst\b', 'state', regex=True)
    return df.columns


def clean_inv(df):
    # gender
    df["gender"].replace("Male", "M", inplace=True)
    df["gender"].replace(["female","Femal"], "F", inplace=True)

    # state
    df["state"].replace("WA", "Washington", inplace=True)
    df["state"].replace("AZ", "Arizona", inplace=True)

    # education
    df["education"].replace("Bachelors", "Bachelor", inplace=True)

    # customer_lifetime_value
    df["customer_lifetime_value"].str.replace("%","", regex=False)

    # vehicle class
    df["vehicle_class"].replace(["Sports Car","Luxury SUV","Luxury Car"],"Luxury", inplace=True)
    return df
    
def clean_format(df):
    # customer lifetime value
    df["customer_lifetime_value"]=df["customer_lifetime_value"].str.replace('%', '', regex=False).astype(float)
    # number of open complaints
    df["number_of_open_complaints"]=df["number_of_open_complaints"].str.split("/").str[1].astype(float)
    return df

def clean_null(df):
    df.dropna(how='all', inplace=True)
    df.customer_lifetime_value.fillna(df.customer_lifetime_value.mean(), inplace=True)
    return df

In [ ]:
import pandas as pd

# Import dataset from an online source
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

In [177]:
df.columns = clean_columns(df)

In [178]:
df = clean_inv(df)

In [179]:
df = clean_format(df)

In [180]:
df = clean_null(df)

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [186]:
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,7.936903e+05,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323

In [187]:
# Review the statistics again for total claim amount and customer lifetime value
df[["customer_lifetime_value","total_claim_amount"]].describe()

       customer_lifetime_value  total_claim_amount
count             1.071000e+03         1071.000000
mean              7.936903e+05          404.986909
std               6.425757e+05          293.027260
min               2.004351e+05            0.382107
25%               4.048535e+05          202.157702
50%               5.887182e+05          354.729129
75%               8.945210e+05          532.800000
max               5.816655e+06         2893.239678

In [188]:
# Filtering on customer with top 25% of the total claim amount and bottom 25% of the customer lifetime value
total_claim_q75 = df["total_claim_amount"].quantile(0.75)
clv_q25 = df["customer_lifetime_value"].quantile(0.25)

In [190]:
filtered_df = df[(df["total_claim_amount"]>total_claim_q75) & (df["customer_lifetime_value"]<clv_q25)]

In [192]:
filtered_df.describe()

,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,40.000000,40.000000,40.000000,40.000000,40.000000
mean,341577.910000,16535.400000,93.500000,0.550000,723.776577
std,56921.472027,23867.913398,16.054395,1.218448,149.280606
min,228759.690000,0.000000,63.000000,0.000000,537.600000
25%,304220.875000,0.000000,86.000000,0.000000,633.378846
50%,365995.370000,0.000000,98.000000,0.000000,685.284189
75%,387364.700000,28142.000000,105.000000,0.000000,799.200000
max,402381.440000,92600.000000,117.000000,5.000000,1185.988301

In [193]:
filtered_df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
17,OE15005,Cali,NaN,College,394524.16,28855.0,101.0,0.0,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10,0.0,73.0,3.0,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21,0.0,111.0,0.0,Personal Auto,Four-Door Car,799.200000
38,CM61827,Oregon,NaN,Bachelor,309003.41,0.0,90.0,0.0,Personal Auto,Two-Door Car,648.000000
42,IL19217,California,NaN,Bachelor,393900.64,60021.0,99.0,0.0,Personal Auto,Four-Door Car,882.871945

In [194]:
filtered_df.shape

(40, 11)